body {
    font-family: sans;
    background: lightblue;
    max-width: 800px;
    margin: auto auto;
}

#credit {
    text-align: center;
    background: white;
    margin: 20px 0;
    padding: 10px;
}

#status {
    background: white;
    padding: 30px;
}

.best {
    margin: 15px 0;
}

.label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.label:after {
    content: ": ";
}

.key {
    display: inline-block;
    border: solid black 1px;
    padding: 5px 10px;
    font-family: monospace;
}

.score {
    font-weight: bold;
    font-size: 110%;
    margin: 0 10px;
}

.name {
    font-style: italic;
}

input {
    border: solid black 1px;
    background: white;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
