body {
    font-family: Sans-Serif;
    background: lightblue;
    max-width: 800px;
    margin: auto auto;
}

h1 {
    text-align: center;
    background: #ddeeff;
    width: 500px;
    margin: 20px auto;
    padding: 10px 0;
    box-shadow: 3px 3px 4px #000;
    border-radius: 10px;
    color: #226;
    border: 1px solid grey;
}

.toplevel {
    box-shadow: 3px 3px 4px #000;
    border-radius: 10px;
    background: white;
    padding: 20px 40px;
    margin: 20px 0;
    border: 1px solid grey;
}

#credit {
    text-align: center;
    padding: 10px;
}

#credit hr {
    width: 400px;
}

h2 {
    font-size: 20px;
}

#info {
    text-align: center;
}

.best {
    margin: 15px 0;
}

.label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    height: 25px;
}

.label:after {
    content: ": ";
}

.key {
    display: inline-block;
    border: solid black 1px;
    padding: 5px 10px;
    font-family: monospace;
}

.score {
    font-weight: bold;
    font-size: 110%;
    margin: 0 10px;
    width: 60px;
    display: inline-block;
    text-align: center;
}

.name {
    font-style: italic;
}

.rate {
    font-weight: bold;
    width: 180px;
    text-align: left;
    display: inline-block;
}

input {
    border: solid black 1px;
    background: #DFA;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
